{% extends 'base.html' %} {% load static %} {% block head %}
<link
	rel="stylesheet"
	type="text/css"
	href="{% static 'css/post-detail.css' %}"
/>
{% endblock %} {% block content %}

<div class="card">
	<div class="card-bg"></div>
	<div class="card-content">
		<h2>{{ posts.title }}</h2>
		<p>{{ posts.topic }}</p>
		<p>{{ posts.author }}</p>
		<p>{{ posts.description }}</p>
		<p>{{ posts.comment }}</p>
		<p>{{ posts.spookyLevel }}</p>
	</div>
</div>
<a href="{% url 'posts_update' posts.id %}" class="btn warn">Edit</a>
<a href="{% url 'posts_delete' posts.id %}" class="btn danger">Delete</a>

{% endblock %}
