<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Spooky Forum</title>
    <script src="https://kit.fontawesome.com/f52ea4d0e9.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="/static/css/base.css" />
	</head>
	<body>
  <header>
  <div class="navbar">
    <nav class="nav">
    <ul class="nav-list">
    <li class="nav-item">
      <a href="/">Home</a>
      </li>
      <li class="nav-item">
      <a href="/forum">All Posts</a>
      </li>
      <li class="nav-item">
      <a href="/about">About</a>
      </li>
       </li>
      <li class="nav-item">
      <a href="/about">Sign-Up</a>
      </li>
       <div class="search">
    <div>
      <input type="text" placeholder="search">
      <button><i class="fa fa-search search-icon"></i></button>
    </div>
    </ul>
    </div>
  </header>
	
        </div>
			</div>
		</div>
	</body>
</html>
