{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}

<img src="{% static 'images/hero-2.jpg' %}" alt="The Spooky Forum" />

{% if not user.is_authenticated %}
  <section class="login-form">
    <form action="{% url 'home' %}" method="post" class="login">
      <h2>Login</h2>
      {% csrf_token %}
      {{ form.as_p }}
      <input class="input" type="hidden" name="next" value="{{ next }}">
      <button type="submit" class="btn submit">Login</button>
    </form>
  </section>

  <section class="logo-container">
  <div class="forum-container">
    <img src="{% static 'images/ghost-hero.jpg' %}" alt="The Spooky Forum" />
  </div>
  <div id="container">
  <h1>COME ON IN</h1>
  <h1>COME ON IN</h1>
  <h1>COME ON IN</h1>
</div>
</section>
{% endif %}

{% endblock %}