
body {
  background-color: rgb(36, 14, 65);
  color: white;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

li {
  float: left;
}

ul.nav-list {
  display: flex;
  justify-content: center;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
   font-size: 40px;
  font-weight: bolder;
  padding: 15px;
  border: solid rgb(97, 63, 177);
  outline: solid;
  border-radius: 20px;
  margin: 50px;
  color: rgb(86, 255, 19);
  background-color: rgb(64, 56, 71);
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

.forum-titles {  
  font-size: 40px;
  font-weight: bolder;
  padding: 15px;
  border: solid rgb(97, 63, 177);
  outline: solid;
  border-radius: 20px;
  margin: 50px;
  color: rgb(86, 255, 19);
  background-color: rgb(64, 56, 71);
}
.form-input {
  
}

.forum-title{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
