*{
  box-sizing: border-box;
 
}

html {
  font-size: 14px;
  font-family: monospace;
  background-color: rgb(38, 2, 78);
}

a{
  color: rgb(107, 233, 5);
  text-decoration: none;
}

h1 {
  font-size: 18px;
  font-weight: 800;
}