*{
  box-sizing: border-box;
}

  html {
  
    font-size: 14px;
    background-color: rgb(56, 19, 104));
  }

a {
  color: rgb(86, 255, 19);
  font-weight: bolder;
  text-decoration: none;
}

h1 {
  font-size: 16px;
  font-weight: bolder;
  color: rgb(255, 255, 255);
}

.container{
  margin: 20px;
  padding: 20px;
  
}

.subforum{
  margin-top: 20px;
}

.subforum-title{
  background-color: rgb(64, 56, 71);
  padding: 5px;
  border-radius: 5px;
  margin: 4px;
}

.subforum-row{
  display: grid;
  grid-template-columns: 7% 80% 13%;
}

.subforum-column{
  padding: 14px;
  margin: 4px;
  border-radius: 5px;
  background-color: rgb(85, 65, 116);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subforum-icon {
  font-size: 60px;
  color: aliceblue;
}

@media screen and (max-width: 460px) {

.container{
  margin: 10px;
  padding: 10px;
}


.subforum-row{
  display: grid;
  grid-template-columns: 20% 55% 25%;
  

}


}