{% extends 'base.html' %} {% load static %} {% block head %}
<link
	href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css"
	rel="stylesheet"
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}" />
<script src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"></script>
<link
	rel="stylesheet"
	type="text/css"
	href="{% static 'css/forum-detail.css' %}"
/>
<script defer src="{% static 'js/forum-detail.js' %}"></script>
{% endblock %} {% block content %}

<section class="forum-container">
	<div class="forum-img">
		{% if forum.photo.url %}
		<img
			src="{{forum.photo.url}}"
			alt="A photo of {{forum.name}}"
			class="usr-img"
		/>
		{% else %}
		<img
			src="{% static 'images/sk8r-boi-forum.svg' %}"
			alt="A skater boy forum"
		/>
		{% endif %}
	</div>
	<div class="forum-details">
		<h1>{{ forum.name }}</h1>
		{% if forum.spookyLevel > 0 %}
		<h2>Spooky level: {{ forum.spookyLevel }} according to: {{ forum.author }}</h2>
		{% else %}
		<h2>Author: {{ forum.author }}</h2>
		{% endif %}
		<p>{{ forum.description }}</p>
		<div class="forum-actions">
			<a href="{% url 'forums_update' forum.id %}" class="btn warn">Edit</a>
			<a href="{% url 'forums_delete' forum.id %}" class="btn danger">Delete</a>
		</div>
		<h3>Change {{ forum.name }}'s photo</h3>
		<p id="file-name"></p>
		
	</div>
</section>
<div class="posts-toy-container">
	<section class="posts">
		<div class="subsection-title">
			<h2>posts</h2>
			<img
				src="{% static 'images/forum-cone.svg' %}"
				alt="An ice cream cone forum"
			/>
			<img
				src="{% static 'images/forum-onigiri.svg' %}"
				alt="A forum as onigiri"
			/>
			<img
				src="{% static 'images/kitty-kabob.svg' %}"
				alt="A kabob of kittens"
			/>
		</div>
		<h3>Add a Post</h3>
		<form
			action="{% url 'add_posts' forum.id %}"
			method="post"
			class="subsection-content"
		>
			{% if forum.post_for_today %}
			<p class="posted">
				{{forum.name}} has been posted all their topics for today!
			</p>
			{% else %}
			<p class="unposted">{{forum.name}} might be hungry!</p>
			{% endif %} {% csrf_token %} {{ post_form.as_p }}
			<button type="submit" class="btn submit">Add post</button>
		</form>
		<h3>Past posts</h3>
		{% if forum.post_set.all.count %}
		<table>
			<thead>
				<tr>
					<th>Date</th>
					<th>topic</th>
				</tr>
			</thead>
			<tbody>
				{% for post in forum.post_set.all %}
				<tr>
					<td>{{ post.date }}</td>
					<td>{{ post.get_topic_display }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
		<div class="subsection-content">
			<p>{{forum.name}} currently has no posts</p>
		</div>
		{% endif %}
	</section>
</div>

{% endblock %}
