{% extends 'base.html' %} {% load static %} {% block head %}
<link
	rel="stylesheet"
	type="text/css"
	href="{% static 'css/post-index.css' %}"
/>
{% endblock %} {% block content %}

<body>
	<div class="container">
	 {% for forum in forums %}
		<div class="subforum">
			<div class="subforum-title">
				<h1>{{ forum.title }}</h1>
			</div>
			<div class="subforum-row">
				<div class="subforum-icon subforum-column">
					<i class="fas fa-ghost"></i>
				</div>
				<div class="subforum-descritption subforum-column">
					<p>{{ forum.comment }}</p>
				</div>
				<div class="subform-stats subforum-column">
					<span>
						{% if forum.spookyLevel > 0 %}
						<p>The spookiness Level is at: {{ forum.spookyLevel }}</p>
						<p>Author: {{ forum.author }}</p>
						{% else %}
						<p>Author: {{ forum.author }}</p>
						{% endif %}
					</span>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</body>

{% endblock %}
